{% extends 'JarryUbuBundle::masterlayout.html.twig' %}


{% block content %}

    <main class="mdl-layout__content fond">
        <div class="mdl-grid demo-content">
            
            <h1>Erreur 404 - Non trouvé</h1>
            
            <div class="{{ containerCss }}">
                Le contenu de cette page n'a pas été trouvé.
                
                Je vous invite à revenir sur votre <a href='{{path('jarry_ubu_homepage')}}'>page d'accueil</a>.
            </div>

        </div>
    </main>
{% endblock %}