/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/app/phpunit.xml
/build/
/vendor/
/bin/
/composer.phar
/composer.save.json
/composer.lock
/nbproject/**
/nbproject/private/private.xml
/src/Jarry/UbuBundle/Entity/*.php~
/src/Jarry/UbuBundle/Entity/Log/*.php~ 
*~
composer.lock
