/* 
    Created on : 25 janv. 2016, 23:07:58
    Author     : david-paul
    Colors 
    
        #7B81AE 123,129,174
        #515890 101,77,143
        #303874 48,56,116
        #181F57
        #080D39 08,13,57

        #8B77AC 139, 119, 172
        #654D8F
        #472D73
        #2D1556
        #180539 24,05,57


        #6C8FA0 108,143,160
        #457085       
        #27546A 39,84,106   
        #103B50        
        #032435 3,36,53
       
*/


.side_button {
    margin: 5px;
    width: 230px;
}

.side_p {
    margin: 5px;
    width: 230px;
    text-align: justify;
}

.side_options {
    margin: 10px;
    width: 200px;
}

.side_right {
    display: inline-block;
    margin-right: 10px;
    margin-left: auto;
    float: right;
}

.appli_button {
    margin: 5px;
    width: 220px;
    min-height: 220px;
}

.appli_button2 {
    margin: 5px;
    width: 220px;
    min-height: 220px;
}

h4 {
    text-align: center;
}

p {
    text-align: justify;
}

.flotte {
    margin-left: 200px;
}

