/* 
    Created on : 25 janv. 2016, 23:07:58
    Author     : david-paul
    Colors 
    
        #7B81AE
        #515890
        #303874
        #181F57
        #080D39

        #8B77AC
        #654D8F
        #472D73
        #2D1556
        #180539


        #6C8FA0
        #457085       
        #27546A        
        #103B50        
        #032435
       
*/
html {
    height: 100%;
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #8B77AC;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

h1 {
    background-color: #080D39;
    color: #7B81AE;
    text-align: center;
    font-family: arial;
}

#aside {
    background-color: #080D39;
    width: 280px;
    height: 100%;
    position: relative;
    margin: 0px;
    left: -255px;
}

#aside_content {
    height: 100%;
}

#aside a.open, #aside a.close {
    background-color: #7B81AE;
    color: #080D39;
    width: 40px;
    height: 40px;
    padding: 5px;
    position: absolute;
    
    right: -30px;
    top: 10px;
    border: 2px solid #080D39;
    border-radius: 0px 15px 15px 0px; 
}

#aside a.close {
    display: none;
}

#aside {
    -webkit-transition: all .5s ease-in;
    transition: all .5s ease-in;
}

#aside:target {
    left: 0px;
}

#aside_content:target #aside {
    left: -255px;
}

#aside:target a.open {
    display: none;
}

#aside:target a.close {
    display: block;
}

.titre {
    background-color: #032435;
    width: 240px;
    height: 40px;
    border: 2px solid #7B81AE;
    margin: 12px;
    position: absolute;
    padding: 3px;
    border-radius: 15px 0px 0px 15px;
    color: white;
    font-family: arial;
    font-size: 30px;
}