{% extends 'JarryUbuBundle::masterlayout.html.twig' %}

{% block content %}
    
 <main class="mdl-layout__content fond">
    <div class="mdl-grid demo-content">
        <div class="demo-charts mdl-color--purple-900 mdl-color-text--purple-200 mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-grid center">
            <img src="{{ asset('bundles/jarryubu/images/log.png') }}"/>
            <h3 class="centrer">Changez votre mail</h3>
        </div>
            <div class="demo-charts fond2 mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-grid fond2">
                <div class="form">
                    {% include "FOSUserBundle:ChangePassword:changePassword_content.html.twig" %}
                </div>
            </div>
    </div>
 </main>
{% endblock %}

