{% extends 'JarryUbuBundle::masterlayout.html.twig' %}

{% block content -%}
<main class="mdl-layout__content fond">
    <div class="mdl-grid demo-content">
        <div class="demo-charts mdl-color--purple-900 mdl-color-text--purple-200 mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-grid centrer">
            <h3 class="centrer">{{ entity.name|upper }}</h3>
        </div>
            {# {% include "JarryUbuBundle:Zone:index.html.twig" %} #}
            <div class="demo-charts fond2 mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-grid">
                
                        <a href="{{ path('ubu_place') }}" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-color--indigo-100 mdl-color-text--purple-400 table_btn">
                            RETOUR A LA LISTE
                        </a>
              
                        <a href="{{ path('ubu_place_edit', { 'id': entity.id }) }}"  class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-color--indigo-100 mdl-color-text--purple-400 table_btn">
                            ÉDITER
                        </a>
                
                    {{ form_widget(delete_form.submit, { 'attr': {'class': 'mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-color--indigo-100 mdl-color-text--purple-400 table_btn2', 'type': 'button'} }) }}
                   
            </div>
    </div>
</main>
{% endblock %}
