<!DOCTYPE html>
<html>
    <head>
        <title>
            {% block title %}
                UBU-Soft
            {% endblock %}
        </title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    </head>
    <body>
    </body>
</html>    
