<!DOCTYPE html>
<html>
    <head>
        <title>
            {% block title %}
                UBU-Soft
            {% endblock %}
        </title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        {% block style %} 
            <link rel="stylesheet" href="{{ asset('bundles/jarryubu/css/style.css') }}" type="text/css" media="all" />
        {% endblock %}
        {% block jscrip %}
        {% endblock %}
    </head>
    <body>
        <div id="aside_content">
            <div id="aside">
                
            {% block aside %}
            {% endblock %}
                <a href="#aside" class="open">
                    <img src="{{ asset('bundles/jarryubu/images/menu.png') }}" alt="menu icon" />
                </a>
                <a href="#aside_content" class="close">
                    <img src="{{ asset('bundles/jarryubu/images/menu.png') }}" alt="menu icon" />
                </a>
            </div>
        </div>
        {% block content %}
        {% endblock %}
        
        {% block jscrip2 %}
        {% endblock %}
    </body>
</html>    
